.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
  height: 100vh;
}

.typeAnimation {
  font-size: 4rem;
  font-weight: 500;
  
}

.icons {
  display: flex;
  justify-content: center;
}